*{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}
body
{
    background-color: white;
}

.container-fluid{
    color: white;
    text-align: right;
    font-size: large;
    font-style: Arial;
    background-color: purple;
}

.Name{
    text-align: center;
    font-weight: bold;
    padding-right:240px;
    font-style: Arial;

}

.description{
    text-align: left;
    font-weight: 100px;

}

.information{
    text-align: left;
    font-weight: 100px;
    font-size: 225%;
    font-style: Arial;

}