*{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}
body
{
    background-color: white;
}

.container-fluid{
    color: white;
    text-align: right;
    font-size: large;
    font-style: Arial;
    background-color: purple;
}

.container-wrap{
    text-align: center;
}

.Name{
    text-align: center;
    font-weight: bold;
    padding-right:240px;
    font-style: Arial;

}

.description{
    text-align: left;
    font-weight: 100px;

}

.sticky-sidebar-lesson{
    width: 100%;
    margin: 0 auto;
}